.card {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: none;
}

.card:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.image-wrapper {
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

    .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform .5s ease; /* Add transition for smooth scaling */
    }

    .image-wrapper:hover img {
        transform: scale(1.1); /* Scale up the image on hover */
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    visibility: hidden;
    opacity: 0;
    border-radius: 1rem;
    transition: opacity .5s ease, visibility .5s ease; /* Transition opacity and visibility */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

    .overlay-content button {
        margin: 5px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }



.wishlist-button,
.cart-button {
    cursor: pointer;
    margin: 0 1rem;
}

    .wishlist-button:hover,
    .cart-button:hover {
        color: #b09d81; /* Change background color on hover */
    }

    .wishlist-button i,
    .cart-button i {
        font-size: 2rem;
    }

